
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.main{
  background: url(/img/background.jpg);
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;

  color: white;
}

body{
  overflow-x: hidden;
}

#app{
  min-height: 100vh;
}

.hero{
  margin: 10px;
  flex: 1;
}

.game-border{
  background: linear-gradient(#14324A,#43286b);
  padding: 3px;
  &:hover{
    -webkit-transition:background 1s linear;
    -moz-transition:background 1s linear;
    -o-transition:background 1s linear;
    transition:background 1s linear;

    background: linear-gradient($highlight,darken($highlight, 20%));
    & > div:not(.content){
      color: $dark;
    }
  }
  & > .content{
    background-color: $dark;
    height: 100%;
  }
}

.tooltip-description{
  visibility: hidden;
  position: absolute;
  padding: 5px;
  background: $dark;
  top: 120%;
  left: 0;
  z-index: 100;
  width: 200px;
}

.build-list{
  padding: 5px;
  margin-top: 15px;
  cursor: pointer;
  @extend .game-border;

  box-shadow: 0 0 1rem #000;
}

.talent{
  margin: 5px;
  @extend .game-border;
  cursor: pointer;
  &.selected{
    background: linear-gradient(#dfeeff,#75c3ff);
  }
  position: relative;
}

.ability{
  width: 64px;
  height: 64px;
  margin: 5px;
  padding: 3px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.visible{
  visibility: visible;
}
