
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.main{
  background: url(/img/background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  flex: 1;

  color: white;
}

#app{
  min-height: 100vh;
}

.hero{
  margin: 10px;
  flex: 1;
}

.tooltip-description{
  visibility: hidden;
  position: absolute;
  padding: 5px;
  background: black;
  border: 3px solid #0000F0;
  top: 100%;
  left: 100%;
  z-index: 100;
  width: 200px;
}

.talent{
  margin: 5px;
  border: 3px solid #0000F0;
  &.selected{
    border-color: yellow;
  }
  position: relative;
}

.ability{
  width: 64px;
  height: 64px;
  margin: 5px;
  padding: 3px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.visible{
  visibility: visible;
}
